.todo-list {
    & > li {
        cursor: pointer;
        list-style: none;
        height: 3rem;
        font-size: 1.5rem;
    }
    & > li.completed {
        color: #ccc;
        font-style: italic;
        text-decoration: line-through;
    }
}
